<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <title>网页多开器</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/layui.css">
    <style>
        .logo {
            position: absolute;
            left: 12px;
            top: 8px;
        }

        .logo img {
            width: 48px;
            height: 48px;
        }

        .layui-tab-content {
            position: relative;
            margin: 0 auto 35px !important;
            max-width: 1140px;
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <a class="logo" href="javascript:void(0)">
                <img src="img/icon.png" alt="layui">
            </a>
        </div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="list.html">监控</a></li>
            <li class="layui-nav-item"><a href="nav.html">导航</a></li>
            <li class="layui-nav-item layui-this"><a href="tools.html">工具箱</a></li>
            <li class="layui-nav-item"><a href="options.html">设置</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <!--<li  class="layui-nav-item" style="margin-top: 10px;">-->
            <!--<iframe style="border: none" src="http://ghbtns.com/github-btn.html?user=krapnikkk&repo=zkb_extension&type=watch&count=true" width="100" height="20"></iframe>-->
            <!--</li>-->
            <li class="layui-nav-item">
                <a href="tencent://message/?uin=708873725Menu=yes" target="_blank" title="发起QQ聊天">
                    <img src="http://bizapp.qq.com/webimg/01_online.gif" alt="QQ" style="margin:0px;">
                </a>
            </li>
        </ul>
    </div>
    <div class="layui-tab-content">
        <blockquote class="layui-elem-quote" style="text-align: center">北京时间：{{now.string}}<br>【该时间通过京东服务器接口实时获取】</blockquote>
        <div class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">定时时间：</label>
                <div class="layui-input-inline" style="width:380px">
                    <input style="width: 60px;display:inline" type="text" name="year" :disabled="is_post"
                           v-model="post_time.year" required placeholder="年"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="mouth" :disabled="is_post"
                           v-model="post_time.month" required placeholder="月"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="day" :disabled="is_post"
                           v-model="post_time.day" required placeholder="日"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="hour" :disabled="is_post"
                           v-model="post_time.hour" required placeholder="时"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="minutes" :disabled="is_post"
                           v-model="post_time.minutes" required placeholder="分"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="second" :disabled="is_post"
                           v-model="post_time.second" placeholder="秒"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">时间格式：2017-01-07 00-00-00</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">地址栏：</label>
                <div class="layui-input-block">
                    <textarea name="desc" v-model="textValue" placeholder="复制一坨链接之后同时打开" required lay-verify="required" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" lay-submit lay-filter="open">马上打开</button>
                    <button type="button" v-show="!is_post" class="layui-btn layui-btn-normal" lay-submit lay-filter="post">定时打开</button>
                    <button type="button" v-show="is_post" class="layui-btn layui-btn-warm" lay-submit lay-filter="post">取消定时</button>
                </div>
            </div>
        </div>
        <hr class="layui-bg-blue">
        <blockquote class="layui-elem-quote" v-show="is_post">
            <br>已经开启定时,距离自动打开网页还有：<span>{{count_down.day}}天</span> <span>{{count_down.hour}}时</span> <span>{{count_down.minutes}}分</span> <span>{{count_down.second}}秒</span>
        </blockquote>
    </div>
</div>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/layui.all.js"></script>
<script type="text/javascript" src="js/trigger.js"></script>
</body>
</html>